@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla";
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: var(--LightGray);
    display: flex;
}

p {
    font-size: 16px;
}

main {
    max-width: 700px;
    margin: auto auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 40px;
}

.topo {
    width: 100%;
}

.topo h1 {
    color: var(--Cyan);
    margin-bottom: 20px;
}

.topo h2 {
    color: var(--BrightYellow);
    margin-bottom: 10px;
}

.topo p {
    color: var(--GrayishBlue);
    margin-bottom: 10px;
    padding-right: 40px;
}

.custo {
    width: 50%;
    color: white;
    border-radius: 0 0 0 15px;
    background-color: var(--Cyan);
}

.custo h2 {
    margin-bottom: 20px;
}

.custo p.valor {
    color: var(--LightGray);
    display: flex;
    align-items: center;
}

.custo span {
    font-size: 38px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
}

button {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--BrightYellow);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.porque {
    width: 50%;
    color: white;
    border-radius: 0 0 15px 0;
    background-color: #4abebd;
}

.porque h2 {
    margin-bottom: 20px;
}

.porque p {
    color: var(--LightGray);
}

.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {
    main {
        margin: 30px;
        border-radius: 8px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .box {
        padding: 20px;
    }

    .topo p{
        padding: 0;
    }

    .custo {
        width: 100%;
        border-radius: 0 0 0 0;
    }

    .porque {
        width: 100%;
        border-radius: 0 0 8px 8px;
    }
}
